{% extends "WPPlatformBundle::layout.html.twig" %}

{% block title %}
    Admin Film - {{ parent() }}
{% endblock %}

{% block bodyContent %}
</header>
<section>
    <div id="line">
        <div class="dline"></div>
        <h1>Espace administrateur</h1>
        <div class="dline"></div>
    </div>
    {{ include ("WPPlatformBundle:Movie:adminMenu.html.twig") }}
    <div class="tabAdmin col-3-4">
        <p class="seeMore">
            <a href="{{ path ("wp_platform_adminAddMovie") }}">Ajouter un film</a>
        </p>
        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Réalisateur</th>
                    <th>Date</th>
                    <th>Durée</th>
                    <th>Genre</th>
                    <th>Pays</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in listMovies %}
                    <tr>
                        <td>{{ movie.title }}</td>
                        <td>{% for director in movie.directors %}{{ director.firstname }} {{ director.name }}  {% endfor %}</td>
                        <td>{{ movie.releasedate|date('d-m-Y') }}</td>
                        <td>{{ movie.duration }} min</td>
                        <td>{% for genre in movie.genres %}{{ genre.genre }} {% endfor %}</td>
                        <td>{{ movie.country }}</td>
                        <td><a href="{{ path ("wp_platform_adminEditMovie",{"id":movie.id}) }}">Modifier</a><br /><a href="{{ path ("wp_platform_adminRemoveMovie",{"id":movie.id}) }}">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if nbPages > 1 %}
            <ul class="pagination">
                {% for p in range(1, nbPages) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('wp_platform_adminMovie', {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="clear"></div>

</section>
{% endblock %}